<div class="background d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 d-sm-none d-md-block">
                <h3 class="text-light">Welcome to Issue Tracker</h3>
                <br />
                <p>This platform interacts with JIRA to push issues as bugs to the associated projects and report issues
                    with the software.</p>
            </div>
            <div class="col-md-6">
                <h3 class="text-light">Login In IssueTracker</h3>
                <div class="card mt-4">
                    <div class="card-body">
                        <div *ngIf="error" class="alert alert-danger p-2" role="alert">
                            {{error}}
                        </div>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <mdb-form-control>
                                <input mdbInput formControlName="email" type="text" id="email"
                                    class="form-control form-control-lg" />
                                <label mdbLabel class="form-label" for="email">Login with your email</label>
                            </mdb-form-control>
                            <button [disabled]="!loginForm.valid" class="btn login-button btn-block btn-rounded mt-2"
                                type="submit">
                                <span *ngIf="loading">
                                    <span class="spinner-border spinner-border-sm" role="status"
                                        aria-hidden="true"></span>
                                    Loading...
                                </span>

                                <span *ngIf="!loading">Login</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>