<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card p-2 text-center mb-2 profile-header"><h4>Profile</h4></div>
    <div class="card p-5">
      <img
        src="https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black-thumbnail.png"
        alt=""
        style="width: 200px; height: 200px"
        class="rounded-circle mx-auto mb-5"
      />
      <div class="row">
        <div class="col-md-6"><h5>First Name:</h5></div>
        <div class="col-md-6">
          <p>{{ data.first_name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><h5>Last Name:</h5></div>
        <div class="col-md-6">
          <p>{{ data.last_name }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><h5>Email:</h5></div>
        <div class="col-md-6">
          <p>{{ data.email }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><h5>Is Admin:</h5></div>
        <div class="col-md-6">
          <p>{{ data.isadmin }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><h5>Organisation:</h5></div>
        <div class="col-md-6">
          <p>{{ data.organisation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
