<div class="card p-5 table-responsive">
  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th scope="col"><b>First Name</b></th>
        <th scope="col"><b>Last Name</b></th>
        <th scope="col"><b>Email</b></th>
        <th scope="col"><b>Is Admin</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <th scope="row">{{ item.first_name }}</th>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <span
            *ngIf="item.isadmin"
            class="badge badge-success rounded-pill d-inline"
            >{{ item.isadmin }}</span
          >
          <span
            *ngIf="!item.isadmin"
            class="badge badge-danger rounded-pill d-inline"
            >{{ item.isadmin }}</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
